<section>
  <article id="hero-inicio">
    <div class="hero-content">
      <h1>
        LA EMOCIÓN DEL <br />
        <span>BALONCESTO</span> <br />
        VIVE AQUÍ
      </h1>
      <p>
        Sigue de cerca a tus equipos favoritos, consulta estadísticas en tiempo
        real y no te pierdas ni una canasta.
      </p>
      <div class="hero-links">
        <a href="?calendario">Ver calendario</a>
        <a href="?clasificacion">Ver clasificacíon</a>
      </div>
    </div>
  </article>
</section>
